<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
</head>
<body>
<h4>This is About page</h4>
<div class="row">
  <div class="col-md-4">
    <a href="/images/PICT0070.jpg" class="thumbnail">
      <p>First image</p> 
      <img src="/images/PICT0070.jpg" alt="Pulpit Rock" style="width:200px;height:266px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="moustiers-sainte-marie.jpg" class="thumbnail">
      <p>Moustiers-Sainte-Marie: Considered as one of the "most beautiful villages of France".</p>
      <img src="moustiers-sainte-marie.jpg" alt="Moustiers Sainte Marie" style="width:150px;height:150px">
    </a>
  </div>
  <div class="col-md-4">
    <a href="cinqueterre.jpg" class="thumbnail">
      <p>The Cinque Terre: A rugged portion of coast in the Liguria region of Italy.</p> 
      <img src="cinqueterre.jpg" alt="Cinque Terre" style="width:150px;height:150px">
    </a>
  </div>
</div>
</body>
</html>